/*------------------------------------------------*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 94px 50px 94px 50px;
  font-size: 18px;
}
.header__menu {
  width: 391px;
}
.header__menu-list {
  display: flex;
  gap: 0px 33px;
  list-style-type: circle;
}
.header__menu-item {
  text-underline-offset: 4px;
}
.header__menu-item_active {
  list-style: none;
} /*Убираем кружок у li*/
.header__menu-link_active {
  text-decoration: none;
} /*Убираем underline*/
.header__logo {
  width: 148px;
  height: 105px;
}
.header__address {
  justify-self: end;
}
/*------------------------------------------------*/
.main {
  margin-bottom: 178px;
}
/*------------------------------------------------*/
.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.cover__overlay {
  position: absolute;
  inset: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: black;
} /*overlay как отдельно стоящий div, чтобы он корректно работал мы ему задаем position: absolute;,
а родительсокму блоку position: relative;*/
.cover__title-text,
.cover__description {
  position: relative;
  z-index: 1;
} /*достаем наверх текст (z-index не работает c position: static);*/
.cover__title-text {
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  text-transform: uppercase;
}
.cover__title-text-item {
  display: block;
  line-height: 115%;
}
.cover__title-text-item__aligned-text {
  padding: 165px 0px 0px 50px;
}
.cover__title-text-item__aligned-text_center {
  padding: 20px 0px 0px 0px;
  text-align: center;
}
.cover__title-text-item__aligned-text_right {
  padding: 20px 50px 0px 0px;
  text-align: right;
}
.letter-spacing-extended {
  letter-spacing: 31px;
}
.no-letter-spacing {
  letter-spacing: 0px;
}
.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  padding-right: 50px;
  padding-left: 50px;
}
.cover__description-text {
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px; /*изменяет расстояние между словами*/
}
.cover__description-button {
  border: 1px solid #fff;
  padding: 12px 31px 12px 31px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}
/*------------------------------------------------*/
.lots {
  margin: 180px 24px 0px 24px;
}
.lots__title-text {
  padding-left: 40px;
}
.lots__frames-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 27px;
  margin-bottom: 30px;
} /*gap и flex-wrap обеспечивают корректную работу при добавлении новых карточек*/
.lots__frames-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
}
.lots__frames-link {
  height: 100%;
  text-decoration: none;
}
.lots__frames-article {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}
.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}
.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}
.lots__frames-article-title {
  z-index: 1;
  padding: 48px 40px 0px 40px;
  color: #fff;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
}
.lots__frames-article-text {
  z-index: 1;
  padding: 0px 40px 48px 40px;
  color: #fff;
  font-size: 20px;
  line-height: 120%;
}
.lots__more-link {
  padding-left: 40px;
  font-size: 20px;
  text-underline-offset: 5px;
}
/*------------------------------------------------*/
.about {
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
  margin: 120px 24px 180px 24px;
} /*нам говорят повторить размеры колонки сверху, при условии что высота у них отличается на 1px, а это даст искажение при проверке*/
.about__column-logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: auto;
  margin-top: 35px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #000;
}
.about__column-logo-img-src {
  display: block;
  width: 148px;
  height: 114px;
}
.about__column-title {
  display: flex;
  align-items: center;
  margin-top: 35px;
  padding: 96px 0px 96px 0px;
}
.about__column-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 8px;
}
.about__column-text {
  font-size: 20px;
  line-height: 120%;
}
/*------------------------------------------------*/
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 50px 83px 50px;
  font-size: 18px;
}
.footer__menu {
  text-align: center;
}
.footer__menu-item {
  text-underline-offset: 4px;
  list-style: none;
}
.footer__menu-link_active {
  text-decoration: none;
}
.footer__socials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: end;
  gap: 48px;
}
.footer__socials-item {
  width: 48px;
  height: 48px;
  list-style: none;
}
/*------------------------------------------------*/
.ultimate__address {
  max-width: 240px;
  font-style: normal;
  line-height: 135%;
}
.ultimate__address-link {
  text-underline-position: under;
}
.ultimate__title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}
